/*Style.css*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 1px 58px;
    z-index: 1000;
}
header.sticky
{
    
    background: rgba(8, 8, 8, 0.897);
}
header .logo
{
    position: relative;
    font-weight: 600;
    color: white;
    text-decoration: none;
    font-size: 2em;
    transition: 0.6s;
    margin-top: 2px;
    margin-left: .5rem;
    letter-spacing: .1rem;
    font-size: 2.4rem;
}
.logo span
{
    color: orange;
    letter-spacing: 0;
    font-weight: 100;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: -3.3rem;
    margin-left: 39rem;
}
header ul li a
{
    position: relative;
    margin: 0 21px;
    color: white;
    font-weight: 100;
    transition: 0.6s;
    font-size: .9rem;
}
header ul li a:hover
{
    text-decoration: none;
    color: orange;
}
.tour-btn
{
    width: 9rem;
    height: 3rem;
    margin-left: 4rem;
    font-weight: 100;
    border-radius: 0%;
}
.tour-btn a
{
    color: white;
    font-size: .9rem;
    text-decoration: none;
    font-weight: 100;
}
.tour-btn a:hover
{
    color: white;
    text-decoration: none;
}
header .sticky .logo,
header.sticky ul li a
{
    color: white;
    background: rgba(8, 8, 8, 0.897);
}
header.sticky ul li a:hover
{
    color: orange;
}
/*SLIDER*/
.carousel-item img
{
    width: 100%;
    height: 39.1rem;
}
.carousel-caption h5
{
    text-align: left;
    margin-top: -24.2rem;
    margin-left: -9rem;
    font-size: 3.8rem;
    font-weight: 500;
    line-height: 3.7rem;
}
.carousel-caption p
{
    text-align: left;
    width: 60%;
    font-size: 18px;
    line-height: 1.9;
    margin-left: -9rem;
    font-weight: 300;
    margin-top: 1.9rem;
}
.learn-btn
{
    text-align: left;
    margin-left: -69rem;
    width: 8rem;
    height: 4rem;
}
.learn-btn a:hover
{
    text-decoration: none;
}
.icon
{
    margin-top: 0;
    margin-left: -5rem;
}
/*ICONS*/
.img img
{
    width: 5rem;
    height: 5rem;
    margin-top: 1rem;
}
.img h4
{
    font-size: 1.1rem;
}
/*SECTION 1*/
.section-1
{
    background: rgb(250, 249, 249);
    padding-top: 6rem;
    margin-top: 2rem;
    padding-bottom: 6rem;
}
.section-1 .sec-head-1 h4
{
    margin-top: 6rem;
    margin-left: -3.7rem;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;
}
.sec-head-1 p
{
    margin-top: 2rem;
    margin-left: -3.7rem;
    line-height: 1.7rem;
    font-weight: 300;
    font-size: .9rem;
}
.section-1 .sec-img img
{
    margin-top: 1rem;
    width: 21rem;
    height: 32rem;
    border-radius: 3rem;
}
.section-1 .sec-ques h3
{
    margin-top: 2.9rem;
    font-size: 1.4rem;
    margin-left: 2.2rem;
    font-weight: 600;
    line-height: 2rem;
}
.sec-ques h5
{
    margin-left: 2.2rem;
    font-size: .99rem;
    color: black;
    font-weight: 400;
    line-height: 1.6rem;
}
.sec-ques .fa-check
{
    font-size: .9rem;
}
/*OFFICE*/
.office
{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.office-1 h2
{
    font-size: 1.6rem;
    margin-left: -3.7rem;
    font-weight: 600;
    margin-top: 2rem;
    letter-spacing: .1rem;
}
.office-1 p
{
    margin-left: -3.7rem;
    margin-top: 1.8rem;
    font-weight: 300;
    font-size: .9rem;
    line-height: 2rem;
    color: rgb(77, 74, 74);
}
.office-imgs
{
    display: flex;
}
.office-imgs img
{
    width: 4rem;
    height: 4rem;
    margin-left: -3.4rem;
}
.office-imgs h4
{
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-top: 1.4rem;
}
.office-img img
{
    width: 23.7rem;
    height: 29rem;
    margin-left: 12rem;
}
.btn-2
{
    margin-left: -3.7rem;
    width: 8rem;
    height: 3.3rem;
    border-radius: 0;
    margin-top: 1rem;
}
.btn-2 a
{
    font-size: .9rem;
    font-weight: 100;
    color: white;
}
.btn-2 a:hover
{
    text-decoration: none;
    color: white;
}
/*TOUR*/
.tour
{
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
}
.line-breaker 
{
    background: orange;
    height: 4rem;
    width: .1rem;
    margin-left: 41.7rem;
    margin-bottom: 2rem;
}
.tour h2 
{
    margin-bottom: 1rem;
    font-weight: 600;
    margin-top: 3rem;
    font-size: 1.6rem;
}
.item
{
    margin-left: 1rem;
    margin-right: 1rem;
}
/*BOOK*/
.book
{
    background: orange;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.book-heading h2
{
    margin-left: -4rem;
    font-size: 1.4rem;
    margin-top: 3rem;
    font-weight: 600;
    color: white;
}
.book-heading p
{
    color: white;
    margin-left: -4rem;
    font-size: .9rem;
}
.b-btn
{
    margin-top: 3rem;
    margin-left: 4rem;
    width: 21rem;
    height: 3.6rem;
}
.b-btn a
{
    font-size: .9rem;
    font-weight: 100;
    color: white;
}
.b-btn a:hover
{
    text-decoration: none;
    color: white;
}
/*QUESTION*/
.question 
{
    padding: 3rem;
    padding-bottom: 9srem;
}

.question h2 
{
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: .1rem;
}

#a-1,
#q-1,
#a-2,
#q-2,
#a-3,
#q-3,
#a-4,
#q-4,
#a-5,
#q-5,
#a-6,
#q-6,
#a-7,
#q-7,
#a-8,
#q-8,
#a-9,
#q-9,
#a-10,
#q-10,
#a-11,
#q-11,
#a-12,
#q-12,
#a-13,
#q-13 
{
    padding: 1rem;
    text-align: left;
    color: black;
    font-size: .9rem;
    margin-left: 11rem;
    width: 58rem;
    font-weight: 500;
    background: rgba(253, 251, 251, 0.699);
}

#q-1:hover,
#q-2:hover,
#q-3:hover,
#q-4:hover,
#q-5:hover,
#q-6:hover,
#q-7:hover,
#q-8:hover,
#q-9:hover,
#q-10:hover,
#q-11:hover,
#q-12:hover,
#q-13:hover 
{
    color: orange;
    cursor: pointer;
}

#a-1,
#a-2,
#a-3,
#a-4,
#a-5,
#a-6,
#a-7,
#a-8,
#a-9,
#a-10,
#a-11,
#a-12,
#a-13 
{

    display: none;
    color: rgb(102, 102, 102);
    font-weight: 200;
}
/*CONTACT US*/
.contact-3
{
    margin-top: 5rem;
    padding-top: 4.6rem;
    padding-bottom: 3.8rem;
    background: rgb(252, 252, 252);
}
.contact-para-2 h2
{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-left: -3rem;
}
.line-breaker-2
{
    background: orange;
    height: 3.8rem;
    width: 0.1rem;
    margin-left: 33.7rem;
    margin-bottom: -2rem;
}
#name-2
{
    font-size: 1rem;
    width: 25rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-weight: 100;
    background: rgb(252, 252, 252);
    border-radius: 0%;
    height: 3.8rem;
    padding-top: 1rem;
    padding-left: .7rem;
    margin-left: 8rem;
}
#company-2
{
    font-size: 1rem;
    width: 25rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0%;
    height: 3.8rem;
    background: rgb(252, 252, 252);
    padding-left: .7rem;
    font-weight: 100;
    padding-top: 1rem;
    margin-left: 1rem;
}
#email-2
{
    font-size: 1rem;
    width: 25rem;
    height: 3rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0%;
    background: rgb(252, 252, 252);
    height: 3.8rem;
    padding-left: .7rem;
    padding-top: 1rem;
    margin-left: 8rem;
    font-weight: 100;
}
#number-2
{
    font-size: 1rem;
    width: 25rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0%;
    background: rgb(252, 252, 252);
    height: 3rem;
    height: 3.8rem;
    padding-top: 1rem;
    padding-left: .7rem;
    font-weight: 100;
    margin-left: 1rem;
}
#time
{
    font-size: 1rem;
    width: 51.7rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0%;
    height: 3.8rem;
    padding-top: 1rem;
    background: rgb(252, 252, 252);
    margin-left: 8rem;
    font-weight: 100;
    padding-left: .5rem;
    color: gray;
}
#time option
{
    font-weight: 100;
}
#message-2
{
    font-size: 1rem;
    width: 51.7rem;
    border: none;
    font-weight: 100;
    border-bottom: 1px solid black;
    outline: none;
    height: 3.8rem;
    padding-top: 1rem;
    background: rgb(252, 252, 252);
    border-radius: 0%;
    padding-left: .7rem;
    margin-left: 8rem;
}
.btn-qoute
{
    margin-left: 28rem;
    height: 4rem;
    width: 10rem;
    margin-bottom: 4rem;
}
/*FOOTER*/
/*NUMBER*/
.number
{
    background: orange;
    padding-top: 1.4rem;
    padding-bottom: .5rem;
}
.number p
{
    text-align: center;
    color: white;
    font-size: 1.3rem;
}
/*FOOTER CONTACT*/
.footer
{
    clip-path: polygon(49% 6%, 50% 0, 100% 0, 100% 100%, 79% 100%, 50% 100%, 11% 100%, 0 100%, 0 0, 48% 0);
    background: black;
}
.footer-para h2
{
    font-size: 1.6rem;
    color: white;
    margin-top: 3.5rem;
    margin-left: -3.7rem;
}
.footer-para h2 span
{
    color: orange;
    font-weight: 100;
    letter-spacing: .1px;
}
.footer-para p
{
    margin-left: -3.7rem;
    font-size: .8rem;
    line-height: 1.5rem;
    font-weight: 100;
    color: white;
}
.footer-links h5
{
    margin-top: 3.5rem;
    margin-left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}
.footer-links li
{
    color: white;
    margin-left: 1rem;
    font-weight: 200;
    font-size: .8rem;
    list-style: none;
    line-height: 1.8rem;
}
.footer-number p
{
    font-size: .9rem;
    color: white;
    margin-top: 4.5rem;
    font-weight: 400;
    line-height: 1.7rem;
    margin-left: 3rem;
}
.footer-add p
{
    margin-top: 5rem;
    margin-left: 10rem;
    color: white;
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.7rem;
}
.line
{
    background: rgb(177, 173, 173);
    width: 76rem;
    margin-left: -4rem;
    height: .1px;
}
/*COPYRIGHT*/
.copyright-para p
{
    color: white;
    font-size: .8rem;
    margin-left: -4.9rem;
    padding-top: 1.7rem;
    padding-bottom: 1rem;
}
.copyright-para span
{
    color: orange
    ;
}
.copyright .fa-brands 
{
    font-size: 1rem;
    color: white;
    margin-top: 1.7rem;
}

.copyright .fa-brands:hover 
{
    color: orange;
    cursor: pointer;
    transition: .2s all ease-in;
}

.fa-facebook-f 
{
    margin-left: 27rem;
}

.fa-instagram 
{
    margin-left: 1rem;
    margin-right: 1rem;
}

.fa-linkedin-in 
{
    margin-left: 0rem;
}
.fa-twitter
{
    margin-left: 1rem;
}

/*-----------ABOUT------------*/
.about-img img 
{
    width: 100%;
}
.centered 
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: white;
    font-weight: 700;
}
/*ABOUT DETAILS*/
.about
{
    background: rgb(250, 249, 249);
    padding-top: 7rem;
    padding-bottom: 5rem;
}
.about-heading h3
{
    color: orange;
    font-size: 1rem;
    font-weight: 400;
    margin-left: -4rem;
    margin-top: 2rem;
}
.about-heading h2
{
    font-size: 1.7rem;
    margin-left: -4rem;
}
.about-detail-1 h4
{
    font-size: 1rem;
    margin-left: -5rem;
    font-weight: 600;
}
.about-detail-1 p
{
    font-weight: 300;
    font-size: .8rem;
    margin-left: -5rem;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    line-height: 1.5rem;
}
.about-detail-2 h4
{
    font-size: 1rem;
    margin-left: -3rem;
}
.about-detail-2 p
{
    font-weight: 300;
    font-size: .8rem;
    margin-left: -3rem;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    line-height: 1.5rem;
}
/*ICONS*/
.icons
{
    background: rgb(250, 249, 249);
    margin-top: 1rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
}
.icons h4
{
    font-size: 1rem;
    text-align: left;
    margin-left: 3rem;
    font-weight: 600;
}
/*COL SET 2*/
.col-set-1
{
    display: flex;
}
.col-set-1 .p
{
    margin-left: 4rem;
    font-size: 1.7rem;
    font-weight: 800;
    margin-top: 1rem;
    line-height: normal;
}
.images
{
    display: flex;
    margin-left: 8rem;
    margin-top: -1rem;
}
.images img
{
    width: 2.3rem;
    height: 2.3rem;
    margin-left: 1.5rem;
}
.images h4
{
    font-size: 1.1rem;
    color: black;
    margin-left: 1rem;
    font-weight: 600;
}
.images p
{
    font-size: .9rem;
    font-weight: 400;
    margin-left: 1rem;
    line-height: 1.4rem;
    margin-top: 1rem;
}
/*SET COL 1*/
.set-col-1 img
{
    width: 2.3rem;
    height: 2.3rem;
    margin-left: -3.6rem;
    margin-top: 2rem;
}
.set-col-1 h4
{
    font-size: 1.1rem;
    color: black;
    margin-top: -2rem;
    margin-left: 0rem;
    font-weight: 600;
}
.set-col-1 p
{
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.4rem;
    margin-top: 1rem;
}
/*SET COL 2*/
.set-col-2 img
{
    width: 2.3rem;
    height: 2.3rem;
    margin-left: -3.6rem;
    margin-top: 3rem;
}
.set-col-2 h4
{
    font-size: 1.1rem;
    color: black;
    margin-top: -2rem;
    margin-left: 0rem;
    font-weight: 600;
}
.set-col-2 p
{
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.4rem;
    margin-top: 1rem;
}
/*--------CONTACT SECTION-----------*/
/*CONTACT PAGE*/
.contact-2
{
    margin-bottom: 7rem;
}
.contact-para
{
    background: rgb(248, 244, 244);
    margin-top: 6rem;
    height: 42rem;
}
.contact-para h2
{
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 2.4rem;
    margin-top: 3rem;
}
.contact-para p
{
    font-size: .9rem;
    margin-top: 2rem;
    margin-left: 2.4rem;
    line-height: 1.4rem;
    font-weight: 100;
}
#name
{
    font-size: .9rem;
    width: 13rem;
    height: 2rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-left: 2.6rem;
    font-weight: 100;
    border: none;
    outline: none;
    border-radius: 0%;
    border-bottom: 1px solid black;
    background: rgb(248, 244, 244);
}
#mail
{
    font-size: .9rem;
    width: 13rem;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 0%;
    font-weight: 100;
    border-bottom: 1px solid black;
    background: rgb(248, 244, 244);
}
#number
{
    font-size: .9rem;
    width: 27.4rem;
    height: 2rem;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    border: none;
    font-weight: 100;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0%;
    background: rgb(248, 244, 244);
}
#message
{
    font-size: .9rem;
    width: 27.5rem;
    margin-left: 2.6rem;
    margin-top: 1.5rem;
    font-weight: 100;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0%;
    height: 3rem;
    background: rgb(248, 244, 244);
}
.btn-touch
{
    margin-left: 11rem;
    width: 9rem;
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.btn-touch a
{
    font-size: .9rem;
    font-weight: 100;
    color: white;
}
.btn-touch a:hover
{
    text-decoration: none;
    color: white;
}
.fonts
{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-top: 9.3rem;
    margin-left: 2rem;
}
.fonts .fa-solid
{
    color: orange;
}
.fonts h3
{
    font-size: .9rem;
    margin-left: 2.3rem;
    margin-bottom: -1rem;
    font-weight: 200;
}
/*FOLLOW US*/
.follow h4
{
    font-weight: 700;
    margin-top: 2rem;
}
.follow .fa-brands
{
    margin-left: -1rem;
    padding: 1rem;
    font-size: .99rem;
    color: rgb(177, 173, 173);
}
/*GOOGLE MAP*/
.map-container
{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
.map-container iframe
{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
#map-container-google-1
{
    height: 280px;
    width: 35rem;
    margin-left: -7rem;
    margin-top: 2rem;
    border: 5px solid rgba(255, 255, 255, 0.425);
}
/*---------GET A QUOTE------*/
.contact-3
{
    margin-top: 3rem;
}
.contact-para-3 h2
{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
}
.contact-para-3 p
{
    text-align: center;
    font-weight: 100;
    font-size: 1rem;
    margin-bottom: 2rem;
    letter-spacing: .2px;
}
.line-breaker-2
{
    background: orange;
    height: 4rem;
    width: 0.1rem;
    margin-left: 34.5rem;
}
#name-2
{
    font-size: 1rem;
    width: 26rem;
    margin-left: 8rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0%;
}
#company-2
{
    font-size: 1rem;
    width: 26rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0%;
}
#email-2
{
    font-size: 1rem;
    width: 26rem;
    margin-top: 1rem;
    margin-left: 8rem;
    height: 3rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0%;
}
#number-2
{
    font-size: 1rem;
    width: 26rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0%;
    height: 3rem;
}
#desks
{
    font-size: 1rem;
    margin-left: 8rem;
    margin-top: 2rem;
    width: 26rem;
    border: none;
    font-weight: 100;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0%;
}
#quality
{
    font-size: 1rem;
    width: 26rem;
    border: none;
    font-weight: 100;
    margin-left: 1rem;
    padding-left: 1rem;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0%;
} 
#message-2
{
    font-size: 1rem;
    width: 53.7rem;
    margin-left: 8rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0%;
}
.btn-qoute
{
    margin-left: 30rem;
    height: 4rem;
    width: 10rem;
    margin-bottom: 4rem;
}
.btn-qoute a
{
    font-size: .9rem;
    font-weight: 100;
    color: white;
}
.btn-qoute a:hover
{
    text-decoration: none;
    color: white;
}
/*----------TOUR SECTION-----------*/
/*TOUR PAGE*/
.line-breaker-3
{
    background: orange;
    height: 3rem;
    width: 0.1rem;
    margin-left: 34.5rem;
}
#name-3
{
    font-size: .9rem;
    width: 26rem;
    font-weight: 100;
    padding-left: 1rem;
    padding-bottom: .6rem;
    margin-left: 8rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0%;
}
#email-3
{
    font-size: .9rem;
    width: 26rem;
    font-weight: 100;
    padding-left: 1rem;
    padding-bottom: .6rem;
    margin-left: 1rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0%;
}
#number-3
{
    font-size: .9rem;
    width: 26rem;
    margin-top: 2rem;
    font-weight: 100;
    padding-left: 1rem;
    padding-bottom: .6rem;
    margin-left: 8rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0%;
}
#date-3
{
    font-size: .9rem;
    width: 26rem;
    font-weight: 100;
    padding-left: 1rem;
    padding-bottom: .6rem;
    margin-left: 1rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 0%;
}
#time-2
{
    font-size: .9rem;
    margin-left: 8rem;
    width: 53.6rem;
    font-weight: 100;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-bottom: .6rem;
    border-radius: 0%;
}
#time-2 option
{
    font-weight: 100;
}
#message-3
{
    font-size: .9rem;
    margin-left: 8rem;
    width: 53.6rem;
    font-weight: 100;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-bottom: .6rem;
    border-radius: 0%;
}
